@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(reset.css);
@import url(header.css);

:root {
    /* CORES*/
    /* PALETA DO SITE */
    --color-black:#2d2d2d;
    --color-blue:#4169E1;
    --color-green:#228B22;
    --color-red:#FF4040;
    --color-lightorange:#F29422;
    --color-yellow:#DAA520;
    --color-white:#FFFAFA;
    /* CORES DOS TEXTOS */
    --color-h1: #000000;
    --color-h2: #333333;
    --color-h3: #666666;
    --color-body: #333333;
    --color-smalltext: #999999;
    --color-details: #CCCCCC;

    /* FONTES */
    /* PADRONIZAÇÃO */
    --font-roboto: "Roboto", sans-serif;
    font-size: 16px;
    /* TAMANHO DA FONTE */
    --font-size-h1: 2.2rem;
    --font-size-h2: 1.7rem;
    --font-size-h3: 1.2rem;
    --font-size-body: 1rem;
    --font-size-small: 0.875rem;
    --font-size-detail: 0.75rem;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-black);
    color: var(--color-white);
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--color-h1);
    font-weight: bold;
}

h2 {
    font-size: var(--font-size-h2);
    color: var(--color-h2);
    font-weight: bold;
}

h3 {
    font-size: var(--font-size-h3);
    color: var(--color-h3);
}

body {
    font-family: var( --font-roboto);
    font-size: var(--font-size-body);
    color: var(--color-body);
}

.small-text {
    font-size: var(--font-size-small);
    color: var(--color-smalltext);
}

.detail-text {
    font-size: var(--font-size-detail);
    color: var(--color-details);
}

a {
    color: currentColor;
    text-decoration: none;
}

.btn-cta {
    background-color: var(--color-red);
    border: 2px solid transparent;
    border-radius: 6px;
    color: var(--color-white);
    padding: 10px 20px;
    font-weight: 700;
    font-size: var(--font-size-h3);
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.btn-cta:hover {
    background-color: transparent;
    color: var(--color-red);
    border-color: var(--color-red);
}

/* ESSA BOSTA DE PAGINA VAI FICAR EM TODOS OS HTML */
/* PORTANTOOOO IMPORTEM ELA PARA CADA CSS DA PAGINA QUE ESTIVEM DESENVOLVENDO */
/* VAMOS EVITAR MUITOS LINKS NO HEAD DO HTML */