main {
    padding-top: 170px;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin: auto;
    background: url('../media/ERP.png') no-repeat;
    background-position: right center;
    background-size: contain;
}

.text-home {
    width: 50%;
    color: var(--color-details);
}

.text-home h1 {
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: var(--color-red);
}

.text-home h3 {
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 10px;
}

.text-home ul {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 2rem;
    margin-bottom: 20px;
}