main {
    padding-top: 170px;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
    background: url('../media/home.png') no-repeat;
    background-position: right center;
    background-size: contain;
}

.text-home {
    width: 50%;
    color: var(--color-details);
}

.text-home h1 {
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: var(--color-red);
}

.text-home h3 {
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 20px;
}

.text-home ul {
    line-height: 2.2rem;
    margin-bottom: 30px;  
}

.text-home mark{
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 0px 5px;
}