.produtos {
    width: 100%;
    margin: 150px auto;
}

.produtos h2 {
    color: var(--color-white);
    text-align: center;
    margin-bottom: 100px;
}

.menu-produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*nome dos produtos*/
.prod {
    padding: 30px 50px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color-h2);
    cursor: pointer;
    font-weight: 700;
}

.prod:hover {
    background-color: #282828;
}

.prod1 {
    color: var(--color-blue);
}

.prod2 {
    color: var(--color-green);
}

.prod3 {
    color: var(--color-red);
}

.prod4 {
    color: var(--color-yellow);
}

.select {
    background-color: #282828;
    transition: all 0.2s;
}

.list-topicos, .text-topic, .text-desc {
    display: none;
}

.apears {
    animation: apears 0.3s;
}

@keyframes apears {
    0% {
        transform: translateY(500px);
        opacity: -50;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.desc-prod {
    width: 100%;
    padding: 80px 0 120px;
    background-color: #282828;
}

.desc {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.rdesc {
    margin: 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

.apears .list-topicos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*lista de topicos do produto*/
.topic {
    cursor: pointer;
    border: 2px solid transparent;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 4px;
    padding: 7px 10px;
    transition: all 0.2s;
    font-weight: 700;
}

.slct, .topic:hover {
    border-color: currentColor;
    background-color: transparent !important;
}

.list1 .topic {
    background-color: var(--color-blue);
}

.list1 .slct, .list1 .topic:hover {
    color: var(--color-blue);
}

.list2 .topic {
    background-color: var(--color-green);
}

.list2 .slct, .list2 .topic:hover {
    color: var(--color-green) !important;
}

.list3 .topic {
    background-color: var(--color-red);
}

.list3 .slct, .list3 .topic:hover {
    color: var(--color-red) !important;
}

.list4 .topic {
    background-color: var(--color-yellow);
}

.list4 .slct, .list4 .topic:hover {
    color: var(--color-yellow) !important;
}

.selecionado, .apears .text-desc{
    display: block;
}

/*descrição de cada produto*/
.text-desc {
    margin-left: 30px;
    color: var(--color-details);
}

.text-desc h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.desc1 .text-desc h3 {
    color: var(--color-blue);
}

.desc2 .text-desc h3 {
    color: var(--color-green);
}

.desc3 .text-desc h3 {
    color: var(--color-red);
}

.desc4 .text-desc h3 {
    color: var(--color-yellow);
}

.text-desc ul>li {
    list-style-type: disc;
    list-style-position: inside;
    margin: 10px 0;
}

/*cta de cada produto*/
.text-desc button {
    background-color: var(--color-blue);;
    margin-top: 20px;
    position: absolute;
    font-size: 1rem;
}

.text-desc button:hover {
    background-color: transparent !important;
    border-color: currentColor !important;
}

.desc1 .text-desc button {
    background-color: var(--color-blue);
}

.desc2 .text-desc button {
    background-color: var(--color-green);
}

.desc2 .text-desc button:hover {
    color: var(--color-green);
}

.desc3 .text-desc button {
    background-color: var(--color-red);
}

.desc3 .text-desc button:hover {
    color: var(--color-red);
}

.desc4 .text-desc button {
    background-color: var(--color-yellow);
}

.desc4 .text-desc button:hover {
    color: var(--color-yellow);
}

.img-desc {
    width: 50%;
    margin-left: auto;
    display: none;
}

.block {
    display: block;
}

.img-desc img {
    width: 100%;
    cursor: pointer;
}